body {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 203, 199, 0.601);
}
.display,
button {
  font-size: 16px;
  font-family: "OCR A Std", monospace;
}

.calculator-body {
  width: 300px;
  border: 2px groove darkgray;
  background-color: rgb(153, 202, 245);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 270px;
  height: 30px;
  background-color: rgb(254, 255, 232);
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-left: 5px;
  border: 2px groove darkgrey;
  border-radius: 5px;;
}

.buttons {
  width: 300px;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 60px;
  height: 25px;
  margin: 5px;
  background-color: aliceblue;
  flex: 0 0 auto;
  border: 2px groove darkgrey;
  border-radius: 5px;
}

.clear {
  font-size: 14px;
}